body{
    background-color: violet;
}
.first-section{
    margin-top: 0%;
    background-color: rgb(150, 56, 134);
}
.nav{
    text-align: center;
    
}
.nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

.search{
    border-radius: 10px;
}

.button{
    text-align:center;
    padding: 10px;
    border-radius: 150px;
    color: white;
    border: none;
}
.button-nav{
    background-color: rgb(216, 58, 132);
    
}
.button-body{
    background-color: rgb(9, 147, 202);
    
}
.second-section{
    background-color: white;
}
.third-section{

}
#fourth-section{
    background-color: purple;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    /* margin: 15px 15px; */
    padding: 25px;
}
.input{
    /* text-align: center; */
    padding-left: 15px;
    border-radius: 150px;
    border: none;
    width: 250px;
    height: 30px;
}
.fifth-section{

}
.sixth-section{

}
/* .pricing-section{
    display: flex;
    flex-direction: column;
} */
.pricing-section-row{
    display: flex;
    flex-direction: row;
    /* padding: 15px; */
}
.pricing-section-row div{
    -ms-flex: 1;
    /* flex: 33.3%; */
    padding: 15px;
    /* flex-wrap: wrap; */
    background-color: white;
    /* border: 1px solid; */
    /* padding: 15px; */
    width: 33.3%;
    margin-left: 20px;
    border-radius: 9px;

}
.pricing-section-row div:nth-of-type(2){
    -ms-flex: 1;
    /* flex: 33.3%; */
    padding: 15px;
    flex-wrap: wrap;
    background-color: white;
}
.contact-section{
    display: flex;
    flex-direction: column;
    background-color: rgb(2, 21, 80);
    color: white;
    text-align: center;
    margin-top: 25px;

}
.contact-form{
    display: flex;
    flex-direction:row ;
    /* text-align: center; */
    /* justify-content: center; */
    justify-items: center;
    margin-left: 85px;
}
#form{
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    width: 45%;
    padding-top: 10px;
    /* margin-top: 15px; */
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-form div{
    margin-left: 25%;
}
.comment-section,.form-name ,.form-email {
    padding-top: 10px;
    margin-left: 30px;
    margin-top: 15px;
    background-color: lightgray;
    color:black;
}
.form-button{
    width: 270px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.last-section{
    display: flex;
    flex-direction: row;
}